<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Cadastro de Usuários</h3>
    </div>
    <div class="card-body">
      <form action="/admin/users/create" method="post">
        <input type="text" name="email" id="email" class="form-control" placeholder="Cadastre aqui o email de usuário!"><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="Cadastre aqui a senha!"><br>
        <button class="btn btn-success btn-block">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include("../../partials/footer") %>